r {color: red;}
b {color: blue;}

table {
    table-layout: fixed;
}
dt:hover + dd{
    color:purple;
}
div.outer-content{
    margin-top: 20px;
    padding: 20px;
    width: 75%;
    background-color: pink;
}
div.inner-content{
    background-color: blue;
    width: 75%;
    margin: auto;
    text-align: center;
}